h1 {
  margin: 40 auto;
  text-align: center;
  color: white;
}
body {
  background-image: url('img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Helvetica;
  height: 100%;

}
#start {
  width: 200px;
  height: 60px;
  font-size: 24px;
  color: yellow;
  background-color: darkgrey;
}
.startButton {
  margin: 20px auto;
  text-align: center;
}

#board {
  width: 32em;
  height: 32em;
  margin: 0 auto;
}
.main {
  z-index: -100;
}

.box {
  width: 10em;
  height: 10em;
  display: inline-block;
  background-color: darkgrey;
  border: 1px solid black;
  border-radius: 30px;
  list-style: none;
}

.box:hover {
  background-color: yellow;
}

#score {
text-align: left;
font-size: 32px;  
text-decoration: underline;
}

.score {
  position: relative;
  top: -325px;
  left: -250px;
  font-size: 26px;
  color: white;
  padding: 10px;
  z-index: -4;