h1 {
  margin: 40 auto;
  text-align: center;
  color: white;
}
body {
  background-image: url('img/background.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: Helvetica;

}
#start {
  margin-left: 250px;
  float: left;
  width: 200px;
  height: 60px;
  font-size: 24px;
  color: yellow;
  background-color: darkgrey;
}

#myButton {
  margin-right: 250px;
  float: right;
  width: 200px;
  height: 60px;
  font-size: 24px;
  color: red;
  background-color: darkgrey;
}

#board {
  width: 31em;
  height: 31em;
  margin: 0 auto;
}

.box {
  width: 10em;
  height: 10em;
  border-radius: 30px;
  display: inline-block;
  background-color: darkgrey;
  border: 1px solid black;
  margin-bottom: 4px;
}

.box:hover {
  background-color: yellow;
}

#score {
text-align: left;
font-size: 32px;  
text-decoration: underline;
}

.score {
  position: relative;
  top: -350px;
  left: 250px;
  font-size: 26px;
  color: white;
  padding: 10px;
  z-index: -4;
}

#clearSc {
  background-color: black;
}


